.containerv {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .title {
    margin-top: 0;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .delete-button {
    margin-right: 10px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #f00;
  }
  
  .submit-button {
    margin-top: 10px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0069d9;
  }

  
  /* const reps = useSelector(store => store.repsReducer )
  const sets = useSelector(store => store.setsReducer )
  const notes = useSelector(store => store.notesReducer )
  const weight = useSelector(store => store.weightReducer) */

