.ezercises {
    display : flex;
    flex-wrap: wrap;
    background-color: rgb(203, 204, 216);
}


img:hover {
    transform: scale(1.10);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
  }


img {
    border-radius: 50px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.2s;
  }
  
  .button {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background-color: #3e8e41;
}